@import "tailwindcss";

@theme {
  --color-brand-orange: #EF8B34;
  --color-brand-orange-burnt: #DE6520;
  --color-brand-red: #F5090A;
  --color-brand-yellow: #FFD402;
  --color-brand-black: #161616;
}
